/* 默认 --暗黑模式 :root.dark   --亮色模式 :root */

:root.dark {
  --dpz-fontFamilyMono: v-mono, SFMono-Regular, Menlo, Consolas, Courier, monospace;
  --dpz-fontWeight: 400;
  --dpz-fontWeightStrong: 500;
  --dpz-cubicBezierEaseInOut: cubic-bezier(.4, 0, .2, 1);
  --dpz-cubicBezierEaseOut: cubic-bezier(0, 0, .2, 1);
  --dpz-cubicBezierEaseIn: cubic-bezier(.4, 0, 1, 1);
  --dpz-borderRadius: 3px;
  --dpz-borderRadiusSmall: 2px;
  --dpz-fontSize: 14px;
  --dpz-fontSizeMini: 12px;
  --dpz-fontSizeTiny: 12px;
  --dpz-fontSizeSmall: 14px;
  --dpz-fontSizeMedium: 14px;
  --dpz-fontSizeLarge: 15px;
  --dpz-fontSizeHuge: 16px;
  --dpz-lineHeight: 1.6;
  --dpz-heightMini: 16px;
  --dpz-heightTiny: 22px;
  --dpz-heightSmall: 28px;
  --dpz-heightMedium: 34px;
  --dpz-heightLarge: 40px;
  --dpz-heightHuge: 46px;
  --dpz-baseColor: #000;
  --dpz-primaryColor: #63e2b7;
  --dpz-primaryColorHover: #7fe7c4;
  --dpz-primaryColorPressed: #5acea7;
  --dpz-primaryColorSuppl: rgb(42, 148, 125);
  --dpz-infoColor: #70c0e8;
  --dpz-infoColorHover: #8acbec;
  --dpz-infoColorPressed: #66afd3;
  --dpz-infoColorSuppl: rgb(56, 137, 197);
  --dpz-successColor: #63e2b7;
  --dpz-successColorHover: #7fe7c4;
  --dpz-successColorPressed: #5acea7;
  --dpz-successColorSuppl: rgb(42, 148, 125);
  --dpz-warningColor: #f2c97d;
  --dpz-warningColorHover: #f5d599;
  --dpz-warningColorPressed: #e6c260;
  --dpz-warningColorSuppl: rgb(240, 138, 0);
  --dpz-errorColor: #e88080;
  --dpz-errorColorHover: #e98b8b;
  --dpz-errorColorPressed: #e57272;
  --dpz-errorColorSuppl: rgb(208, 58, 82);
  --dpz-textColorBase: #fff;
  --dpz-textColor1: rgba(255, 255, 255, 0.9);
  --dpz-textColor2: rgba(255, 255, 255, 0.82);
  --dpz-textColor3: rgba(255, 255, 255, 0.52);
  --dpz-textColorDisabled: rgba(255, 255, 255, 0.38);
  --dpz-placeholderColor: rgba(255, 255, 255, 0.38);
  --dpz-placeholderColorDisabled: rgba(255, 255, 255, 0.28);
  --dpz-iconColor: rgba(255, 255, 255, 0.38);
  --dpz-iconColorDisabled: rgba(255, 255, 255, 0.28);
  --dpz-iconColorHover: rgba(255, 255, 255, 0.475);
  --dpz-iconColorPressed: rgba(255, 255, 255, 0.30400000000000005);
  --dpz-opacity1: 0.9;
  --dpz-opacity2: 0.82;
  --dpz-opacity3: 0.52;
  --dpz-opacity4: 0.38;
  --dpz-opacity5: 0.28;
  --dpz-dividerColor: rgb(44, 44, 44);
  --dpz-borderColor: rgba(255, 255, 255, 0.24);
  --dpz-closeIconColorHover: rgba(255, 255, 255, 0.52);
  --dpz-closeIconColor: rgba(255, 255, 255, 0.52);
  --dpz-closeIconColorPressed: rgba(255, 255, 255, 0.52);
  --dpz-closeColorHover: rgba(255, 255, 255, .12);
  --dpz-closeColorPressed: rgba(255, 255, 255, .08);
  --dpz-clearColor: rgba(255, 255, 255, 0.38);
  --dpz-clearColorHover: rgba(255, 255, 255, 0.48);
  --dpz-clearColorPressed: rgba(255, 255, 255, 0.3);
  --dpz-scrollbarColor: rgba(255, 255, 255, 0.2);
  --dpz-scrollbarColorHover: rgba(255, 255, 255, 0.3);
  --dpz-scrollbarWidth: 5px;
  --dpz-scrollbarHeight: 5px;
  --dpz-scrollbarBorderRadius: 5px;
  --dpz-progressRailColor: rgba(255, 255, 255, 0.12);
  --dpz-railColor: rgba(255, 255, 255, 0.2);
  --dpz-popoverColor: rgb(72, 72, 78);
  --dpz-tableColor: rgb(24, 24, 28);
  --dpz-cardColor: rgb(24, 24, 28);
  --dpz-modalColor: rgb(44, 44, 50);
  --dpz-bodyColor: rgb(16, 16, 20);
  --dpz-tagColor: rgba(51, 51, 51, 1);
  --dpz-avatarColor: rgba(255, 255, 255, 0.18);
  --dpz-invertedColor: #000;
  --dpz-inputColor: rgba(255, 255, 255, 0.1);
  --dpz-codeColor: rgba(255, 255, 255, 0.12);
  --dpz-tabColor: rgba(255, 255, 255, 0.04);
  --dpz-actionColor: rgba(255, 255, 255, 0.06);
  --dpz-tableHeaderColor: rgba(255, 255, 255, 0.06);
  --dpz-hoverColor: rgba(255, 255, 255, 0.09);
  --dpz-tableColorHover: rgba(255, 255, 255, 0.06);
  --dpz-tableColorStriped: rgba(255, 255, 255, 0.05);
  --dpz-pressedColor: rgba(255, 255, 255, 0.05);
  --dpz-opacityDisabled: 0.38;
  --dpz-inputColorDisabled: rgba(255, 255, 255, 0.06);
  --dpz-buttonColor: rgba(255, 255, 255, .08);
  --dpz-buttonColorHover: rgba(255, 255, 255, .12);
  --dpz-buttonColorPressed: rgba(255, 255, 255, .08);
  --dpz-buttonColor2: rgba(255, 255, 255, .08);
  --dpz-buttonColor2Hover: rgba(255, 255, 255, .12);
  --dpz-buttonColor2Pressed: rgba(255, 255, 255, .08);
  --dpz-boxShadow1: 0 1px 2px -2px rgba(0, 0, 0, .24), 0 3px 6px 0 rgba(0, 0, 0, .18), 0 5px 12px 4px rgba(0, 0, 0, .12);
  --dpz-boxShadow2: 0 3px 6px -4px rgba(0, 0, 0, .24), 0 6px 12px 0 rgba(0, 0, 0, .16), 0 9px 18px 8px rgba(0, 0, 0, .10);
  --dpz-boxShadow3: 0 6px 16px -9px rgba(0, 0, 0, .08), 0 9px 28px 0 rgba(0, 0, 0, .05), 0 12px 48px 16px rgba(0, 0, 0, .03);
}



:root {
  --dpz-fontFamilyMono: v-mono, SFMono-Regular, Menlo, Consolas, Courier, monospace;
  --dpz-fontWeight: 400;
  --dpz-fontWeightStrong: 500;
  --dpz-cubicBezierEaseInOut: cubic-bezier(.4, 0, .2, 1);
  --dpz-cubicBezierEaseOut: cubic-bezier(0, 0, .2, 1);
  --dpz-cubicBezierEaseIn: cubic-bezier(.4, 0, 1, 1);
  --dpz-borderRadius: 3px;
  --dpz-borderRadiusSmall: 2px;
  --dpz-fontSize: 14px;
  --dpz-fontSizeMini: 12px;
  --dpz-fontSizeTiny: 12px;
  --dpz-fontSizeSmall: 14px;
  --dpz-fontSizeMedium: 14px;
  --dpz-fontSizeLarge: 15px;
  --dpz-fontSizeHuge: 16px;
  --dpz-lineHeight: 1.6;
  --dpz-heightMini: 16px;
  --dpz-heightTiny: 22px;
  --dpz-heightSmall: 28px;
  --dpz-heightMedium: 34px;
  --dpz-heightLarge: 40px;
  --dpz-heightHuge: 46px;
  --dpz-baseColor: #FFF;
  --dpz-primaryColor: #18a058;
  --dpz-primaryColorHover: #36ad6a;
  --dpz-primaryColorPressed: #0c7a43;
  --dpz-primaryColorSuppl: #36ad6a;
  --dpz-infoColor: #2080f0;
  --dpz-infoColorHover: #4098fc;
  --dpz-infoColorPressed: #1060c9;
  --dpz-infoColorSuppl: #4098fc;
  --dpz-successColor: #18a058;
  --dpz-successColorHover: #36ad6a;
  --dpz-successColorPressed: #0c7a43;
  --dpz-successColorSuppl: #36ad6a;
  --dpz-warningColor: #f0a020;
  --dpz-warningColorHover: #fcb040;
  --dpz-warningColorPressed: #c97c10;
  --dpz-warningColorSuppl: #fcb040;
  --dpz-errorColor: #d03050;
  --dpz-errorColorHover: #de576d;
  --dpz-errorColorPressed: #ab1f3f;
  --dpz-errorColorSuppl: #de576d;
  --dpz-textColorBase: #000;
  --dpz-textColor1: rgb(31, 34, 37);
  --dpz-textColor2: rgb(51, 54, 57);
  --dpz-textColor3: rgb(118, 124, 130);
  --dpz-textColorDisabled: rgba(194, 194, 194, 1);
  --dpz-placeholderColor: rgba(194, 194, 194, 1);
  --dpz-placeholderColorDisabled: rgba(209, 209, 209, 1);
  --dpz-iconColor: rgba(194, 194, 194, 1);
  --dpz-iconColorHover: rgba(146, 146, 146, 1);
  --dpz-iconColorPressed: rgba(175, 175, 175, 1);
  --dpz-iconColorDisabled: rgba(209, 209, 209, 1);
  --dpz-opacity1: 0.82;
  --dpz-opacity2: 0.72;
  --dpz-opacity3: 0.38;
  --dpz-opacity4: 0.24;
  --dpz-opacity5: 0.18;
  --dpz-dividerColor: rgb(239, 239, 245);
  --dpz-borderColor: rgb(224, 224, 230);
  --dpz-closeIconColor: rgba(102, 102, 102, 1);
  --dpz-closeIconColorHover: rgba(102, 102, 102, 1);
  --dpz-closeIconColorPressed: rgba(102, 102, 102, 1);
  --dpz-closeColorHover: rgba(0, 0, 0, .09);
  --dpz-closeColorPressed: rgba(0, 0, 0, .13);
  --dpz-clearColor: rgba(194, 194, 194, 1);
  --dpz-clearColorHover: rgba(146, 146, 146, 1);
  --dpz-clearColorPressed: rgba(175, 175, 175, 1);
  --dpz-scrollbarColor: rgba(0, 0, 0, 0.25);
  --dpz-scrollbarColorHover: rgba(0, 0, 0, 0.4);
  --dpz-scrollbarWidth: 5px;
  --dpz-scrollbarHeight: 5px;
  --dpz-scrollbarBorderRadius: 5px;
  --dpz-progressRailColor: rgba(235, 235, 235, 1);
  --dpz-railColor: rgb(219, 219, 223);
  --dpz-popoverColor: #fff;
  --dpz-tableColor: #fff;
  --dpz-cardColor: #fff;
  --dpz-modalColor: #fff;
  --dpz-bodyColor: #fff;
  --dpz-tagColor: #eee;
  --dpz-avatarColor: rgba(204, 204, 204, 1);
  --dpz-invertedColor: rgb(0, 20, 40);
  --dpz-inputColor: rgba(255, 255, 255, 1);
  --dpz-codeColor: rgb(244, 244, 248);
  --dpz-tabColor: rgb(247, 247, 250);
  --dpz-actionColor: rgb(250, 250, 252);
  --dpz-tableHeaderColor: rgb(250, 250, 252);
  --dpz-hoverColor: rgb(243, 243, 245);
  --dpz-tableColorHover: rgba(0, 0, 100, 0.03);
  --dpz-tableColorStriped: rgba(0, 0, 100, 0.02);
  --dpz-pressedColor: rgb(237, 237, 239);
  --dpz-opacityDisabled: 0.5;
  --dpz-inputColorDisabled: rgb(250, 250, 252);
  --dpz-buttonColor: rgba(46, 51, 56, .05);
  --dpz-buttonColorHover: rgba(46, 51, 56, .09);
  --dpz-buttonColorPressed: rgba(46, 51, 56, .13);
  --dpz-buttonColor2: rgba(46, 51, 56, .05);
  --dpz-buttonColor2Hover: rgba(46, 51, 56, .09);
  --dpz-buttonColor2Pressed: rgba(46, 51, 56, .13);
  --dpz-boxShadow1: 0 1px 2px -2px rgba(0, 0, 0, .08), 0 3px 6px 0 rgba(0, 0, 0, .06), 0 5px 12px 4px rgba(0, 0, 0, .04);
  --dpz-boxShadow2: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
  --dpz-boxShadow3: 0 6px 16px -9px rgba(0, 0, 0, .08), 0 9px 28px 0 rgba(0, 0, 0, .05), 0 12px 48px 16px rgba(0, 0, 0, .03);
}